<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">

  <link href="/stylesheets/styles.css" rel="stylesheet">
  <link href="/stylesheets/syntax.css" rel="stylesheet">
</head>

<body>
  <section id="header">
        <h1>OFA Polulator — Once and For All</h1>
        <h2>A simple but powerful pattern for populating table &amp; collection views.</h2>
        <img class="screenshot" src="images/iphone.png" />
        <div class="shadow-overlay">&nbsp;</div>
  </section>

  <section class="container">
